{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<main class="pt-20">
    <div class="max-w-3xl mx-auto bg-white p-8 mt-12 rounded-lg shadow-lg">
        <h1 class="text-3xl font-bold mb-6 text-pink-600 text-center">Add New Candy</h1>
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            <div class="space-y-4">
                <div>
                    <label for="name" class="block text-sm font-medium text-pink-600 mb-1">Name:</label>
                    {{ form.name.errors }}
                    <input type="text" name="name" id="name" class="border border-gray-300 p-2 w-full rounded-lg" placeholder="Enter candy name">
                </div>

                <div>
                    <label for="price" class="block text-sm font-medium text-pink-600 mb-1">Price:</label>
                    {{ form.price.errors }}
                    <input type="number" name="price" id="price" class="border border-gray-300 p-2 w-full rounded-lg" placeholder="Enter candy price">
                </div>

                <div>
                    <label for="sweetness" class="block text-sm font-medium text-pink-600 mb-1">Sweetness:</label>
                    {{ form.sweetness.errors }}
                    <input type="number" name="sweetness" id="sweetness" class="border border-gray-300 p-2 w-full rounded-lg" placeholder="Enter sweetness level">
                </div>

                <div>
                    <label for="description" class="block text-sm font-medium text-pink-600 mb-1">Description:</label>
                    {{ form.description.errors }}
                    <textarea name="description" id="description" class="border border-gray-300 p-2 w-full h-32 rounded-lg" placeholder="Enter candy description"></textarea>
                </div>
            </div>

            <div class="flex justify-center mt-6">
                <input type="submit" value="Add Candy" class="bg-pink-600 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded-lg cursor-pointer">
            </div>
        </form>
    </div>
</main>
{% endblock %}
